<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Firebase Auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.344676890970-lqd1m08e73pnsro3cnlap2l6bm1d15mr</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>344676890970-lqd1m08e73pnsro3cnlap2l6bm1d15mr.apps.googleusercontent.com</string>
</dict>
</plist>
